/* Runner.css */

/* Cartão do corredor */
.runner-card {
    background-color: #1d2a3a;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    margin-bottom: 20px;
    text-align: center; /* Centraliza o conteúdo dentro do cartão */
    min-height: 70px; /* Altura mínima para os cartões */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Garante que o conteúdo seja centralizado verticalmente */
    width: 100%;
    max-width: 400px; /* Largura máxima dos cartões */
}

/* Efeito de hover */
.runner-card:hover {
    transform: translateY(-10px);
}

/* Informações do corredor */
.runner-info p {
    margin: 10px 0;
    color: #ddd;
    font-size: 16px;
}

/* Destacar os nomes */
.runner-info strong {
    color: #fff;
    font-size: 18px; /* Aumenta o tamanho do texto do label (Nome/Email) */
}

/* Centralizar o nome do corredor */
.runner-info .name {
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    margin-top: 10px;
    text-transform: capitalize; /* Para deixar o nome com a primeira letra maiúscula */
}

/* Adicionando mais espaçamento entre os cartões */
.runners-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* Espaço entre os cartões */
    width: 100%;
    padding: 20px 0;
}
